{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
       <div class="intro-bloc brown lighten-5 z-depth-1">
           <div class="picture-bloc">
               <img src="{{ asset('pictures/profile.jpg') }}" alt="Photo de l'auteur" class=" z-depth-2 profile-img">
           </div>
           <div class="text-bloc-home">
               <h2 class="intro-title blue-grey-text text-darken-4">Developpeur web junior PHP/Symfony</h2>
               <p class="blue-grey-text text-darken-4">{{ contents[0].description }}</p>
           </div>
       </div>

        <!------------project & about card displayed in medium and large screen------------------>
        <div class="row hide-on-small-and-down">
            <div class="col s12 m6 l6">
                <div class="card brown lighten-5">
                    <div class="card-content blue-grey-text text-darken-3">
                        <span class="card-title"> <i class="material-icons left blue-grey-text text-darken-3">assignment</i>Projets</span>
                        <p>{{ contents[4].description }}</p>
                        <a  href="{{ path('portfolio_projects') }}" class="btn-floating btn-large waves-effect waves-light orange lighten-1 right"><i class="material-icons blue-grey-text text-darken-3">keyboard_arrow_right</i></a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="card brown lighten-5">
                    <div class="card-content blue-grey-text text-darken-3">
                        <span class="card-title test"> <i class="material-icons left  blue-grey-text text-darken-3">person</i>Parcours</span>
                        <p>{{ contents[5].description }}</p>
                        <a  href="{{ path('portfolio_about') }}" class=" btn-floating btn-large waves-effect waves-light orange lighten-1 right"><i class="material-icons blue-grey-text text-darken-3 ">keyboard_arrow_right</i></a>
                    </div>

                </div>
            </div>
        </div>


        <!---------------projects & about button displayed only in small screen------------------->
        <div class="hide-on-med-and-up btn-bloc-prez">
            <div>
                <a href="{{ path('portfolio_projects') }} " class="wave">
                    <div class="project-btn orange lighten-2 z-depth-1">
                        <i class="material-icons project-icon blue-grey-text text-darken-3">assignment</i>
                        <p class="icon-title blue-grey-text text-darken-3">Projets</p>
                    </div>
                </a>
            </div>
            <div>
                <a href="{{ path('portfolio_about') }}">
                    <div class="about-btn orange lighten-2 z-depth-1">
                        <i class="material-icons about-icon blue-grey-text text-darken-3">person</i>
                        <p class="icon-title blue-grey-text text-darken-3">A propos</p>
                    </div>
                </a>
            </div>

        </div>

    </div>

{% endblock %}
